@use "sass:string";
$icomoon-font-family: "anilog" !default;
$icomoon-font-path: "assets/fonts/anilog-icons" !default;

$icon-pin: string.unquote('"\\e907"');
$icon-shutter: string.unquote('"\\e900"');
$icon-signpost: string.unquote('"\\e905"');
$icon-star-pin: string.unquote('"\\e906"');
$icon-plant: string.unquote('"\\e901"');
$icon-camera: string.unquote('"\\e902"');
$icon-map: string.unquote('"\\e903"');
$icon-leaderboard: string.unquote('"\\e904"');

