@use "sass:string";
$icomoon-font-family: "anilog" !default;
$icomoon-font-path: "/fonts/anilog-icons" !default;

$icon-flower: unquote('"\\e90b"');
$icon-plant: unquote('"\\e90c"');
$icon-tree: unquote('"\\e90d"');
$icon-family: unquote('"\\e90a"');
$icon-color: unquote('"\\e915"');
$icon-endangered: unquote('"\\e909"');
$icon-arrow: unquote('"\\e908"');
$icon-pin: unquote('"\\e907"');
$icon-shutter: unquote('"\\e900"');
$icon-signpost: unquote('"\\e905"');
$icon-star-pin: unquote('"\\e906"');
$icon-little-plant: unquote('"\\e901"');
$icon-camera: unquote('"\\e902"');
$icon-map: unquote('"\\e903"');
$icon-leaderboard: unquote('"\\e904"');

