@use "sass:string";
$icomoon-font-family: "anilog" !default;
$icomoon-font-path: "/fonts/anilog-icons" !default;

$icon-flower: string.unquote('"\\e90b"');
$icon-plant: string.unquote('"\\e90c"');
$icon-tree: string.unquote('"\\e90d"');
$icon-family: string.unquote('"\\e90a"');
$icon-color: string.unquote('"\\e915"');
$icon-endangered: string.unquote('"\\e909"');
$icon-arrow: string.unquote('"\\e908"');
$icon-pin: string.unquote('"\\e907"');
$icon-shutter: string.unquote('"\\e900"');
$icon-signpost: string.unquote('"\\e905"');
$icon-star-pin: string.unquote('"\\e906"');
$icon-little-plant: string.unquote('"\\e901"');
$icon-camera: string.unquote('"\\e902"');
$icon-map: string.unquote('"\\e903"');
$icon-leaderboard: string.unquote('"\\e904"');

